<%-  include("../partials/header") %>

<div class="container">
    <div class="row">
        <legend>Add New Comment to <%=aucground.name %></legend>
       <div style="width: 30%;margin: 25px auto;">
             <form action="/aucgrounds/<%= aucground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" id="" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/aucgrounds">Go Back</a>
        </div>
    </div>
</div>
<%-  include("../partials/footer") %>