<%-  include("./partials/header") %>
<div id="namma-carousel" class="carousel slide">
                 
    <div class="carousel-inner" role="listbox">
            
      <div class="item active firstslide" style="height: 600px;" >
        <div class="carousel-caption">
          <h1 id="landing-header" data-animation="animated lightSpeedIn" style="margin-bottom: 20px;font-size:130px"><span class="glyphicon glyphicon-bullhorn"></span> eSell</h1>
          <a href="/aucgrounds" class="btn btn-block" style="margin-bottom: 130px;"  data-animation="animated zoomInLeft" >View Our Stuff Now</a>    
        </div> 
      </div> 
      <div class="container">
          <div style="text-align: center;">
            <em><h2 style="font-family: lobster;"  data-animation="animated zoomInLeft">Welcome to eSell</h2></em>
            <div class="progress"></div>

            <h1 style="font-weight: bold;font-family: pacifico;" >Buy and Sell Whatever you want..</h1>
            <div style="font-family:lato;font-size: 20px;">
                <em><p>You can sell pretty much anything on eSell, although selling in some</p>
                <p>specialized categories requires eSell approval and an upgraded selling plan</p>
                <p>eSell charges several kinds of fees on items sold, depending on what kind</p>
               <p>of selling plan you have</p></em>
            </div>
          </div>
      </div>
      <div class="">
          <div class="row">
              <div class="col-md-7" style="margin-left: 50px;margin-top: 70px;margin-bottom: 70px;">
                  <img src="https://www.itl.cat/pngfile/big/89-890664_free-laptop-windows-8-hd-wallpapers-download-full.jpg" alt="" width="895px" height="600px" >
              </div>
              <div class="col-md-4" style="margin-top: 70px;margin-bottom: 70px;">
                <img src="https://i.pinimg.com/originals/63/7f/8c/637f8c94edfb5321f05820f83cbad256.jpg" alt="" width="500px" height="294px">
                <img src="https://www.itl.cat/pngfile/big/225-2253937_watch-wallpaper-hd-download.jpg" alt="" width="500px" height="294x" style="margin-top: 10px;">
            </div>
          </div>
      </div>
      <div id="namma-carousel" class="carousel slide">
                 
        <div class="carousel-inner" role="listbox">
                
          <div class="item active secondslide" style="height: 300px;" >
          </div> 
        </div>
        </div>
        <div class="row" style="margin-left: 50px;margin-top: 70px;margin-bottom: 70px;">
            <div class="col-md-5" >
              <span class="glyphicon glyphicon-user icon-size" style="font-size: 300px;color: white;"></span>
            </div>
            <div class="col-md-5">
                <div style="font-family:lato;font-size: 20px;">
                    <em><p>Welcome to eSell</p>
                    <p>This website is developed</p>
                    <p>using Node.js, MongoDb, javascript, jQuery for backend </p>
                   <p>using HTML , ejs, CSS, Bootstrap, javascript, jQuery for frontend </p>
                   <p>And Im still Working on it to Make it more Advanced</p>
                   <p>Give me your feedback,if you want to see modified version</p>
                   <p>Thank You!!!!!</p></em>
                   <h3 style="color:skyblue">Shahid Afridi</h3>
                </div>
            </div>
        </div>
        <div id="namma-carousel" class="carousel slide">
                 
            <div class="carousel-inner" role="listbox">
                    
              <div class="item active secondslide" style="height: 300px;" >
              </div> 
            </div>
            </div>
        </div>
<%-  include("./partials/footer") %>